td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:first-child {
  border-top: 3px solid black;
}
td:first-child {
  border-left: 3px solid black;
}

td {
  border: 1px solid lightgrey;
}

tr:nth-child(3n) td {
  border-bottom: 3px solid black;
}

.readonly {
  font-weight: bold;
  color: black;
  background-color: lightgray ;
}

.editable {
  color: black;
}
