<mat-grid-list cols="4" rowHeight="225px">
    <mat-grid-tile
            [colspan]="3"
            [rowspan]="3">
        <table sudoku-board [board]="board?.data"></table>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <mat-card class="actions">
            <mat-card-header>
                <mat-card-title>
                    NGRX Solver - Easy
                </mat-card-title>
                <mat-card-subtitle>
                    Turn :   {{ turn$ | async }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p> UnsolvedProblemCount : {{ remainingProblems }} </p>
                <p>SolvedProblemCount : {{ solvedSubProblems.length }}</p>
                <p> % Remaining Solved : {{ (solvedSubProblems.length / remainingProblems) | percent:'1.2-5' }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button type="button" (click)="nextTurn()">Next Step</button>
                <button mat-flat-button type="button" (click)="resetGame()">Reset Game</button>
                <mat-checkbox (change)="showInternals($event)">Show Solver Lists</mat-checkbox>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf=" showInternals$ | async">
    <app-sudoku-internals [board]="board" [solvedSubProblems]="solvedSubProblems"></app-sudoku-internals>
</div>




